body {
	/*background: #2fa2e3 url('images/bg.jpg') center 0 no-repeat fixed;
	background-color: #d9dfe0;*/
	background: #2fa2e3 url('images/bg-main.png') repeat;
	text-align: center;
	margin: 0;
	padding: 0;
	font: 13px / 1 'Helvetica Neue', Helvetica, Arial, Sans-serif
}

/* envoltorio central de TODO o conteudo do site */

.fullWrapper {
	margin: 0 auto;
	width: 100%;
	text-align: left;
	padding-bottom: 15px;
	background-color: #f9f9f9;
}

.wrapper {
	margin: 0 auto;
	width: 850px;
	text-align: left;
}

#header {
	margin-top: 10px;
	text-align: left;
	float: left;
}

nav#menuTop {
	float: left;
	width: 66%;
	margin: 42px 0 0 0;
	
	font-size: 16pt;
	padding-left: 5%;
	background-color: #1C708D;
	-webkit-border-top-right-radius: 30px;
	-webkit-border-bottom-right-radius: 11px;
	-moz-border-radius-topright: 30px;
	-moz-border-radius-bottomright: 11px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 11px;
}

nav#menuTop ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

nav#menuTop ul li {
	display: inline-block;
	text-align: center;
	padding: 10px;

}
nav#menuTop ul li a:link,
nav#menuTop ul li a:visited  {
	/*color: #3d4244;*/
	color: #FFF;
	text-decoration: none;
}

nav#menuTop ul li a:hover {
	color: #F58B10;
	text-decoration: none;
}



nav#menuTop2 {
	float: left;
	height: 71px;
	width: 64%;
	margin: 18px 0 0 5%; /*32px 0 0 5%;*/
}

nav#menuTop2 ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

nav#menuTop2 ul li {
	display: inline-block;
	height: 71px;
	width: 100px;
	margin-left: 5%;
	
	text-align: center;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav#menuTop2 ul li span {
	display: block;
	margin-top: 78%;/* 27% */
}

nav#menuTop2 ul li span a {
	margin-top: 10px;
	border-radius: 3px;
	padding: 5px;
	background-color: #FFF;
	text-decoration: none;
	color: #000;
}

nav#menuTop2 ul li:hover span a {
background-color: #ffeca2;
}

nav#menuTop2 ul li.ativo span a {
background-color: #ffb400;
}

nav#menuTop2 ul li.home { background-image: url('images/icones/web.png'); }
nav#menuTop2 ul li.formularios { background-image: url('images/icones/formularios.png'); }
nav#menuTop2 ul li.relatorios { background-image: url('images/icones/relatorios.png'); }
nav#menuTop2 ul li.usuarios { background-image: url('images/icones/usuarios.png'); }

#mid {
	height: 15px;
	width: 100%;
	background: #1C708D url('images/bg-hero-tile.png') repeat;
	text-align: center;
	padding-top: 15px;
}

#corpo {
	margin-top: 15px;
	min-height: 400px;
}

#parentMenuLateral {
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	display: inline-block;
	float: left;
}

#menuLateral {
	background-color: #E3EBF8;
	width: 200px;
	padding: 10px;
	border-right: 1px solid #a0a2a2;
	border-bottom: 1px solid #a0a2a2;
}

#menuLateral p {
	color: #50585f;
	font-size: 20pt;
	margin: 6px 0 8px 0;
}

#menuLateral ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

#menuLateral ul li {
	font-size: 11pt;
	padding: 0 0 1px 20px;
	margin-bottom: 4px;
}
#menuLateral ul li a:link,
#menuLateral ul li a:visited,
#menuLateral ul li a:active {
	text-decoration: none;
	color: #007698;
}

#menuLateral ul li a:hover {
	text-decoration: none;
	color: #3fbccb;
}

#menuLateral li div {
	float: right;
}

#menuHide {
	/* display: none;*/
}

#menuHide li {
	margin-bottom: 4px;
	margin-left: 10px;
}

#menuHide li div {
	float: right;
}

#mostrarMenu {
	text-align: center;
	margin: 16px 0 6px 0;
}

#content {
	float: left;
	width: 70%;
	margin-left: 20px;
	font-size: 12pt;
}

#footer {
	border-top: 1px solid #000;
	margin-top: 20px;
	width: 100%;
	height: 140px;
	text-align: center;
	background-color: #353232;
	position: relative;
}

#footer p {
	margin-top: 50px;
	color: #FFF;
	font-size: 12pt;
}

/* Fonte: http://css-tricks.com/examples/hrs/ */
#content hr {
	border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); background-image: -o-linear-gradient(left, #ccc, #333, #ccc); 
	margin: 2% 0 2% 0;
}

/* estilo dos formulários */
form {
	position: relative;
}

form fieldset {
	display: inline-block;
	display: inline !ie7;
	min-width: 38%;
	min-height: 66px;
	padding: 0;
	border: 0;
	position: relative;
	border: 0;
	margin-left: 7%;
	vertical-align: middle;
}

form fieldset input[type=text]{
	/* estilo do Mozilla Firefox */
	border: 1px solid #ada9a5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px;
	width: 100%;
}

form fieldset textarea {
	border: 1px solid #ada9a5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px;
	width: 95.6%;	
}

form fieldset input[type=submit] {
	color: #FFF;
	height: 2em;
	/*background-color: #F38166;*/
	background-color: #93C349;
	outline: 0;
	padding: 0 1em;
	font-size: 1em;
	white-space: nowrap;
	
	border: 4px solid #7A9C45;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	margin: 20px 0 0 35%; 
}

form fieldset.full {
	width: 90%;
	margin-left: 7%;
}

form fieldset.center {
	width: 67%;
	margin-left: 33%;
}

form fieldset label {
	display: block;
	color: #333333;
	text-transform: uppercase;
	font: bold 10pt ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

form .vermelho { color: #D11; }

form .erro {
	text-align: left;
	padding: 5px;
	padding-left: 20px;
	font-size: 12px;
	color: #D11;
}

form .errado {
	color: #D11;
	border: 1px solid #D11 !important;
}

.msg {
	margin: 15px auto;
	border: 1px solid #D11;
	padding: 10px;
	background-color: #FFC0C0;
	color: #911;
	text-align: center;
	
	width: 30%;
	max-width: 420px;
	
	border-radius: 7px;
	
	box-shadow: 0 5px 10px #999;
}